.button {
    width: 80px;
    border-radius: 5px;
    background-color: rgb(28, 99, 28);

}

.button:disabled {
    background-color: gray;
    color: black;
    pointer-events: none;
    height: 30px;
}

.button.btn_itemAdded:hover {
    background-color: rgb(144, 230, 24);
    height: 30px;
}

.button.btn_itemAdded {
    height: 30px;
    align-content: center;
    margin: 20px auto;
}

.button.btn-del {
    background-color: rgb(216, 159, 159);
}

.button.btn-del:hover {
    background-color: rgb(201, 33, 33);
    width: 82px;
}

.button.btn-del::after {
    content: "X";
    margin-left: 18px;
    color: red;
}

.button.btn-edit {
    background-color: darkseagreen;
}

.button.btn-edit:hover {
    background-color: seagreen;
    width: 82px;
}

.button.btn_fetch {
    width: 150px;
    height: 40px;
    background-color: lightgreen;
    margin-bottom: 20px;
    margin-top: 0px;
}

.button.modal_btn_close {
    justify-content: flex-end;
    background-color: rgb(233, 126, 126);
}
