.button {
 color: black;
 width: 100px;
}

.button:hover {
    color: blue;
}

.button.btn_itemAdded {
background-color: rgb(255, 127, 212);
}
 
.button {
    &.btn-del{
       background-color: rgb(243, 9, 9);
       width: 200px; 
    }   
}

.title {
    color: rgb(245, 152, 152);
    border: solid;
    border-radius: 20px;
    padding: 10px;
}

.container {
    border: solid white 2px;
    padding: 20px;
}

.list {
    border: dotted;
    padding: 20px;
    &.empty {
         padding: 20px;     
    }
}


