.title {
    color: rgb(245, 152, 152);
    border: solid;
    border-radius: 20px;
    padding: 10px;
}

.container {
    border: solid white 2px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

}

.errors {
    color: red;
    font-size: 12px;
}
