.select {
    display: flex;
    justify-content: center;
    background-color: dimgray;
    height: 60px;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 10px;
}

.select-title {
    margin: 0px 20px;
    font-size: 15px;
    height: 25px;
}

.select-filter {
    height: 25px;
}